torch
scikit-learn~=1.6.1
pandas~=2.2.3
numpy~=2.2.5
matplotlib~=3.10.1
tqdm
fastapi
uvicorn
pyyaml~=6.0.2
xarray
cdsapi
openmeteo-requests
requests-cache~=1.2.1
retry-requests
seaborn~=0.13.2

boruta~=0.4.3
xgboost~=3.0.1
lightgbm~=4.6.0
requests~=2.32.3
openmeteo_requests~=1.4.0
joblib~=1.4.2
statemodels